.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 45px;
}

.logo {
  color: var(--c-black);

  font-size: 40px;
  font-weight: 300;
  line-height: 55px;
}
