.p {
  margin: 0;
}

.xs {
  font-size: 12px;
  line-height: 16px;
}

.sm {
  font-size: 14px;
  line-height: 20px;
}

.md {
  font-size: 16px;
  line-height: 22px;
}

.lg {
  font-size: 18px;
  line-height: 32px;
}
