.button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: none;
  text-align: center;
  cursor: pointer;
  column-gap: 10px;
}

.text {
  padding: 2px 15px;
  background-color: transparent;
  color: var(--c-primary);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  transition: all 0.3s;
}

.text:hover {
  color: var(--c-primary-hover);
}

.text:hover svg {
  stroke: var(--c-primary-hover);
}

.contained {
  padding: 14px 44px;
  border-radius: 8px;
  background-color: var(--c-black);
  color: var(--c-white);
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  transition: all 0.3s;
}

.contained:hover {
  background-color: var(--c-black-hover);
}
