.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.panel {
  position: relative;
  padding: 20px;
  border-radius: 8px;
  color: var(--black);
}

.success {
  border: 1px solid #b7e5a2;
  background-color: #93ffa6;
}

.error {
  border: 1px solid #ff4141;
  background-color: #ff9393;
}

.successTitle {
  margin-bottom: 15px;
  font-size: 20px;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
