.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.panel {
  position: relative;
  padding: 20px;
  border-radius: 8px;
  color: var(--black);
}

.success {
  border: 1px solid var(--green);
  background-color: var(--light-green);
}

.error {
  border: 1px solid var(--red);
  background-color: var(--red-light);
}

.successTitle {
  margin-bottom: 15px;
  font-size: 20px;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
