:root {
  --black: #000;
  --c-black: #2c2c2c;
  --c-black-hover: #030303;
  --c-black-20: #6e6e6e;
  --c-black-30: #4b4b4b;
  --c-primary: #1473e6;
  --c-primary-hover: #5aa3ff;
  --c-white: #fff;
  --c-border: #f5f5f5;
  --desktop: 1206px;
  --tablet: 768px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;

  width: 100vw;

  color: var(--c-black-20);

  background-color: var(--c-white);

  font-family: Open-sans, sans-serif;
}
