.article {
  box-sizing: content-box;
  max-width: 657px;
  padding: 25px 45px;
}

.info {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.imgWrapper {
  position: relative;
  width: 657px;
  height: 400px;
  margin-bottom: 20px;
}

.img {
  object-fit: contain;
}

.text {
  margin-bottom: 20px;
}

.like {
  display: flex;
  gap: 20px;
  align-items: center;
}

.comments {
  margin: 30px 0;
}
